.slider {
  position: relative;
  width: 370px;
  height: 122px;
  display: flex;
  margin-top: 16px;

  user-select: none;
  touch-action: pan-y;
}
.slider img {
  poiner-events: none;
  margin-left: 0px;
}
.slider-list {
  width: auto;
  height: 140px;
  overflow: hidden;
}
.slider-list.grab {
  cursor: grab;
}
.slider-list.grabbing {
  cursor: grabbing;
}
.slider-track {
  display: flex;
}
.slide {
  width: 103px;
  height: 103px;
  flex-shrink: 0;
  font-size: 20px;
  max-width: 100%;
  border-radius: 25px;
  background: #ffffff;
  margin-right: 2px;
  margin-left: 8px;
  pointer-events: none;
}
